{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "consistent-return": 2,
    "curly": [2, "multi-line"],
    "eqeqeq": [2, "always"],
    "indent": [2, 4],
    "no-var": "error"
  }
}
